.demoMarca{
    font-size: 2em;
    font-weight: 500;
}
.demoDescripcion{
    font-size: 1.6em;
    font-weight: 400;
}
.precio{
    font-size: 1.8em;
    font-weight: 500;
}
.demoStock{
    font-size: 1.8em;
    font-weight: 500;
}