body{
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(231,231,240,0.9332107843137255) 0%, rgba(178,187,189,1) 100%);
  }

.logo{
  transform: translateY(-2px);
  width: 30px;
  height: 30px;
}

.cards-wrapper{
  display: flex;
}

.card{
  margin: 0 .5em;
}